In [1]:
import pandas as pd

data = pd.read_csv('num_booking_status.csv')
data.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN29581,2,0,1,3,Meal Plan 1,0,Room_Type 1,200,2018,8,29,Online,0,0,0,90.95,0,1
1,INN06326,2,0,1,3,Meal Plan 1,0,Room_Type 1,79,2018,3,24,Online,0,0,0,90.95,1,1
2,INN33900,2,0,1,4,Meal Plan 1,0,Room_Type 4,78,2018,4,6,Online,0,0,0,99.45,1,0
3,INN00721,2,0,2,0,Meal Plan 1,0,Room_Type 1,61,2017,10,4,Offline,0,0,0,91.00,0,0
4,INN22121,2,1,0,4,Meal Plan 1,0,Room_Type 1,201,2018,11,1,Online,0,0,0,82.28,3,0

In [2]:
attr_name = ['no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status']

for i in attr_name:
    print(i, ' : ', data[i].value_counts())

no_of_adults  :  2    18278
1     5378
3     1624
0      101
4       11
Name: no_of_adults, dtype: int64
no_of_children  :  0     23502
1      1137
2       739
3        12
10        1
9         1
Name: no_of_children, dtype: int64
no_of_weekend_nights  :  0    11819
1     6964
2     6384
3      106
4       85
5       23
6       11
Name: no_of_weekend_nights, dtype: int64
no_of_week_nights  :  2     7960
1     6691
3     5498
4     2099
0     1653
5     1153
6      131
7       76
10      42
8       35
9       23
11      10
15       6
12       5
14       4
13       3
17       2
16       1
Name: no_of_week_nights, dtype: int64
type_of_meal_plan  :  Meal Plan 1     19492
Not Selected     3560
Meal Plan 2      2338
Meal Plan 3         2
Name: type_of_meal_plan, dtype: int64
required_car_parking_space  :  0    24596
1      796
Name: required_car_parking_space, dtype: int64
room_type_reserved  :  Room_Type 1    19684
Room_Type 4     4242
Room_Type 6      667
Room_Type 2      498
Room_Type 5      186
Room_Type 7      111
Room_Type 3        4
Name: room_type_reserved, dtype: int64
lead_time  :  0      914
1      739
2      459
3      437
4      423
      ...
351      1
318      1
381      1
306      1
361      1
Name: lead_time, Length: 345, dtype: int64
arrival_year  :  2018    20808
2017     4584
Name: arrival_year, dtype: int64
arrival_month  :  10    3736
9     3249
8     2644
6     2261
11    2087
12    2076
7     2075
4     1922
5     1835
3     1616
2     1194
1      697
Name: arrival_month, dtype: int64
arrival_date  :  19    943
17    940
13    937
4     932
2     910
18    909
15    906
6     901
16    899
20    875
14    863
29    847
30    837
12    831
5     826
8     823
21    810
25    809
9     807
28    789
1     789
26    786
7     779
24    778
27    771
10    769
11    766
3     739
22    737
23    683
31    401
Name: arrival_date, dtype: int64
market_segment_type  :  Online           16210
Offline           7398
Corporate         1427
Complementary      272
Aviation            85
Name: market_segment_type, dtype: int64
repeated_guest  :  0    24753
1      639
Name: repeated_guest, dtype: int64
no_of_previous_cancellations  :  0     25159
1       133
2        33
3        27
11       17
5        10
4         8
13        4
6         1
Name: no_of_previous_cancellations, dtype: int64
no_of_previous_bookings_not_canceled  :  0     24825
1       162
2        76
3        57
4        46
5        41
6        22
8        19
7        16
9        14
10       12
12        9
14        8
11        8
19        6
15        6
13        5
16        4
20        4
18        4
22        4
24        3
21        3
25        3
23        3
28        2
44        2
17        2
48        2
29        2
26        1
45        1
49        1
35        1
42        1
52        1
58        1
53        1
50        1
40        1
55        1
30        1
31        1
57        1
56        1
36        1
47        1
38        1
46        1
34        1
27        1
51        1
Name: no_of_previous_bookings_not_canceled, dtype: int64
avg_price_per_room  :  65.00     597
75.00     560
90.00     503
115.00    455
95.00     440
         ...
53.58       1
166.58      1
226.35      1
123.68      1
79.85       1
Name: avg_price_per_room, Length: 3265, dtype: int64
no_of_special_requests  :  0    13869
1     7951
2     3036
3      474
4       55
5        7
Name: no_of_special_requests, dtype: int64
booking_status  :  0    17114
1     8278
Name: booking_status, dtype: int64

```
no_of_adults  :  
2    18278
1     5378
3     1624
0      101
4       11
Name: no_of_adults, dtype: int64
```
```
no_of_children  :  
0     23502
1      1137
2       739
3        12
10        1
9         1
Name: no_of_children, dtype: int64
```
```
no_of_weekend_nights  :  
0    11819
1     6964
2     6384
3      106
4       85
5       23
6       11
Name: no_of_weekend_nights, dtype: int64
```
```
no_of_week_nights  :  
2     7960
1     6691
3     5498
4     2099
0     1653
5     1153
6      131
7       76
10      42
8       35
9       23
11      10
15       6
12       5
14       4
13       3
17       2
16       1
Name: no_of_week_nights, dtype: int64
```
```
type_of_meal_plan  :  
Meal Plan 1     19492
Not Selected     3560
Meal Plan 2      2338
Meal Plan 3         2
Name: type_of_meal_plan, dtype: int64
```
```
required_car_parking_space  :  
0    24596
1      796
Name: required_car_parking_space, dtype: int64
```
```
room_type_reserved  :  
Room_Type 1    19684
Room_Type 4     4242
Room_Type 6      667
Room_Type 2      498
Room_Type 5      186
Room_Type 7      111
Room_Type 3        4
Name: room_type_reserved, dtype: int64
```
```
lead_time  :  
0      914
1      739
2      459
3      437
4      423
      ... 
351      1
318      1
381      1
306      1
361      1
Name: lead_time, Length: 345, dtype: int64
```
```
arrival_year  :  
2018    20808
2017     4584
Name: arrival_year, dtype: int64
```
```
arrival_month  :  
10    3736
9     3249
8     2644
6     2261
11    2087
12    2076
7     2075
4     1922
5     1835
3     1616
2     1194
1      697
Name: arrival_month, dtype: int64
```
```
arrival_date  :  
19    943
17    940
13    937
4     932
2     910
18    909
15    906
6     901
16    899
20    875
14    863
29    847
30    837
12    831
5     826
8     823
21    810
25    809
9     807
28    789
1     789
26    786
7     779
24    778
27    771
10    769
11    766
3     739
22    737
23    683
31    401
Name: arrival_date, dtype: int64
```
```
market_segment_type  :  
Online           16210
Offline           7398
Corporate         1427
Complementary      272
Aviation            85
Name: market_segment_type, dtype: int64
```
```
repeated_guest  :  
0    24753
1      639
Name: repeated_guest, dtype: int64
```
```
no_of_previous_cancellations  :  
0     25159
1       133
2        33
3        27
11       17
5        10
4         8
13        4
6         1
Name: no_of_previous_cancellations, dtype: int64
```
```
no_of_previous_bookings_not_canceled  :  
0     24825
1       162
2        76
3        57
4        46
5        41
6        22
8        19
7        16
9        14
10       12
12        9
14        8
11        8
19        6
15        6
13        5
16        4
20        4
18        4
22        4
24        3
21        3
25        3
23        3
28        2
44        2
17        2
48        2
29        2
26        1
45        1
49        1
35        1
42        1
52        1
58        1
53        1
50        1
40        1
55        1
30        1
31        1
57        1
56        1
36        1
47        1
38        1
46        1
34        1
27        1
51        1
Name: no_of_previous_bookings_not_canceled, dtype: int64
```
```
avg_price_per_room  :  
65.00     597
75.00     560
90.00     503
115.00    455
95.00     440
         ... 
53.58       1
166.58      1
226.35      1
123.68      1
79.85       1
Name: avg_price_per_room, Length: 3265, dtype: int64
```
```
no_of_special_requests  :  
0    13869
1     7951
2     3036
3      474
4       55
5        7
Name: no_of_special_requests, dtype: int64
```
```
booking_status  :  
0    17114
1     8278
Name: booking_status, dtype: int64
```